@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>

    <h3>Order List</h3>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Side</th>
        </tr>
        @if (ViewBag.orders != null)
        {
            foreach (var order in ViewBag.orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Name</td>
                    <td>@order.Price</td>
                    <td>@order.Quantity</td>
                    <td>Edit | Delete</td>
                </tr>
            }
        }
    </table>


</body>

</html>
